html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
* {
  border: 1px solid limegreen;
  background-color: rgba(116, 116, 116, 0.1);
}
body {
  margin: 0;
}
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

#info-text-hi {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1em;
}

#info-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 152%;
  /* or 152% */

  letter-spacing: 0.01em;
}

#info-text-footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  letter-spacing: 0.05em;
}

#footer-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 150%;
  text-align: right;
  letter-spacing: 0.01em;
}

#footer-links {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */
}

#toggle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  position: relative;
  cursor: pointer;
  user-select: none;
}

#toggle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FF8C00;
  border-radius: 1rem;
  z-index: -1;
  transition: transform 0.3s ease;
}

#toggle:after {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: calc(50% - 0.2rem);
  height: calc(100% - 0.2rem);
  background-color: #FFFFFF;
  border-radius: 1rem;
  z-index: -1;
  transition: transform 0.3s ease;
}

#toggle.light:before {
  transform: translateX(100%);
}

#toggle.light:after {
  transform: translateX(100%);
}

#project-skills {
  padding: 0.5rem 1rem;
  background: #ffffff;
  border-radius: 76px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #000000;
}
.shadow-red {
  border-radius: 32px;
  box-shadow: -1.1rem -1.1rem #ff8c00;
}

.shadow-gray {
  border-radius: 12px;
  box-shadow: 0.6rem 0.6rem rgba(82, 82, 82, 0.5);
}

#skill-title {
  text-align: center;
  margin-top: 0.7rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
}

#section-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.01em;
  padding-bottom: 5rem;
}

#section-title-small {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.01em;
}

#info-keyss {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  width: 37.7%;

  margin-right: 6.3%;
}

#info-values {
  display: flex;
  justify-content: flex-start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  width: 56%;
}

#basic-information {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #ff8c00;
}

#about-me {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

#about-me-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

#project-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 39px;

  letter-spacing: 0.05em;
}

#project-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

#project-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

/* Skills Part */

.skillsContainer {
  text-align: center;
  margin: 8rem 12rem 0 12rem;
}
.skills {
  gap: 2rem;
  display: flex;
}
.skillsContent {
  width: 100%;
}

.skill-list {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-evenly;
  
}

.skill-list h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 0.7rem;
}
.skill-list p {
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #000000;
  margin-bottom: 1rem;
}
 .js h3 {
  padding-top: 1rem;
 }
/* Skills Part */
